<%- contentFor('body') %>

<div class="item" data-id="<%-product.id%>">
  <img src="/<%=product.image%>" width="100" height="100" />
  <li class="item-name">품명 : <%=product.item%></li>
  <li class="item-desc">상세 내용: <%=product.description%></li>
  <li class="item-price" data-price="<%-product.price%>">
    최소 가격: <%=product.price%>
  </li>
  <li class="item-count" data-time="<%-product.time%>"></li>
  <input type="number" id="entry_money" placeholder="경매 등록 금액" />
  <button id="entry">Entry</button>
  <span id="message"></span>
</div>

<script src="/assets/js/productCount.js"></script>
<script src="/assets/js/entry.js"></script>
