<%- contentFor('body') %>

<div class="empty">
  <% if(typeof empty !== 'undefined') { %>
  <h1><%=empty%></h1>
  <% } %>
</div>

<div class="list-box">
  <% products.forEach((item) => { %>
  <a href="/product/<%=item.id%>">
    <ul class="item">
      <img src="/<%=item.image%>" width="100" height="100" />
      <li class="item-name">품명 : <%=item.item%></li>
      <li class="item-desc">상세 내용: <%=item.description%></li>
      <li class="item-price">최소 가격: <%=item.price%></li>
    </ul>
  </a>
  <% })%>
</div>
