<%- contentFor('body') %>

<div class="list-box">
  <% if(typeof empty !== 'undefined') { %>
  <div class="empty">
    <h1><%=empty%></h1>
  </div>
  <%} else { %>
  <ul class="item-list">
    <% products.forEach((item) => { %>
    <div class="item" data-id="<%-item.id%>">
      <a href="/product/<%=item.id%>">
        <img src="/<%=item.image%>" width="100" height="100" />
        <li class="item-name">품명 : <%=item.item%></li>
        <li class="item-desc">상세 내용: <%=item.description%></li>
        <li class="item-price">최소 가격: <%=item.price%></li>
        <!-- <li class="item-price">아이템 유효 검사: <%=item.valid%></li> -->
        <li class="item-count" data-time="<%-item.time%>"></li>
      </a>
    </div>
  </ul>
  <% })%> <% } %>
</div>

<script src="/assets/js/productCount.js"></script>
